{% extends 'base.html' %}
{% load static %}
{% block buttons %}{% endblock %}
{% block content %}
<div class="col-12 col-lg-10 pb-6">
    <div class=" d-flex flex-column justify-content-centre w-100 mx-auto"
         style="padding-top: 36px; max-width: 680px">
        {% if club_data == 1 %}
        <h1 class="display-4" style="font-family: 'Roboto', sans-serif; font-size: 4rem; font-weight: bold; color: #030000; text-shadow: 0 0 10px rgba(0,0,0,0.2); background-color:#F5F5F5; padding: 20px; border-radius: 10px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">All Clubs</h1>
        {% for club_data_value in club_data_values %}
        <div id="club_iew">
            <div class="card mb-3">
                <img class="card-img-top" src="/media/{{club_data_value.club_picture}}" alt="Card image cap"
                     style="height: 300px; object-fit: cover">
                <div class="card-body">
                    <a href="{% url 'club_detail_post' club_id=club_data_value.id %}"><h5 class="card-title">{{club_data_value.club_name}}</h5></a>
                    <p class="card-text">{{club_data_value.club_description}}</p>
                    <p class="card-text"><small class="text-muted">{{club_data_value.create_at}}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div style="width: 100%; background-image: linear-gradient(90deg, #F2F2F2 0%, #FFFFFF 50%, #F2F2F2 100%); padding: 20px; text-align: center;">
            <h1 class="display-4" style="font-family: 'Roboto', sans-serif; font-size: 4rem; font-weight: bold; color: #030000; text-shadow: 0 0 10px rgba(0,0,0,0.2);">OOPS! No Clubs Exist Yet. To start a club head to the MyClub Page.</h1>
            <div style="margin-top:50px;">
              <a href="{% url 'myclub' %}" style="background-color: #030000; padding:15px; border-radius: 10px; font-family: 'Roboto', sans-serif; font-size: 1.5rem; font-weight: bold; color: #FFFFFF; text-decoration: none; box-shadow: 0 0 10px rgba(0,0,0,0.2);">Go To MyClub</a>
            </div>
        </div>
        {% endif %}
    </div>

</div>


{% endblock %}