{% extends 'base.html' %}
{% block content %}
    {% for i in book_list %}
        <div class="row no-mp" style="position: relative; left: 10%; top: 10%;">
    <div class="col-md-4">
        <div class="card mb-4"><img class="card-img-top" src="{{ i.image_url }}" id="book_title" style="
    max-width: 100%;
    /* height: 50%; */
    max-height: 250px;
">
            <div class="card-body"><h5 class="card-title">{{  i.book_title}}</h5></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td><strong>ISBN</strong></td>
                    <td>{{i.isbn}}</td>
                </tr>
                <tr>
                    <td><strong>Publication Date</strong></td>
                    <td>{{ i.publication_date }}</td>
                </tr>
                <tr>
                    <td><strong>Publisher</strong></td>
                    <td>{{ i.publisher }}</td>
                </tr>
                <tr>
                    <td><strong>Publish Address</strong></td>
                    <td>{{i.publisher_address}}</td>
                </tr>
                <tr>
                    <td><strong>Genre Name</strong></td>
                    <td>{{i.genre_name}}</td>
                </tr>
                <tr>
                    <td><strong>Publisher Email</strong></td>
                    <td>{{i.publisher_email}}</td>
                </tr>
                </tbody>
            </table>                                        <!--Export links-->
        </div>
    </div>
</div>
    {% endfor %}

{% endblock %}