{% extends 'base.html' %}
{% block content %}
    {% for i in club_list %}
        <div class="row no-mp">
    <div class="col-md-4">
        <div class="card mb-4"><img class="card-img-top" src="{{ i.club_picture }}" id="book_title">
            <div class="card-body"><h5 class="card-title">{{  i.club_name}}</h5></div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td><strong>Genre</strong></td>
                    <td>{{i.club_genre}}</td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>{{ i.club_description }}</td>
                </tr>
                <tr>
                    <td><strong>Location</strong></td>
                    <td>{{ i.club_location }}</td>
                </tr>
                <tr>
                    <td><strong>Eighteen Plus</strong></td>
                    <td>{{i.eighteen_plus}}</td>
                </tr>
                <tr>
                    <td><strong>Average Club Rating</strong></td>
                    <td>{{i.average_club_rating}}</td>
                </tr>
                <tr>
                    <td><strong>Owner</strong></td>
                    <td>{{i.club_owner}}</td>
                </tr>
                </tbody>
            </table>                                        <!--Export links-->
        </div>
    </div>
</div>
    {% endfor %}

{% endblock %}