{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
    />


    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <title>Owl</title>
</head>
<body class="bg-green-100">
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger fade show text-center" role="alert">
    {{message}}
</div>

{% else %}
<div class="alert alert-success fade show text-center" role="alert">
    {{message}}
</div>

{% endif %}

{% endfor %}
{% endif %}
<!-- Login -->
<div class="container mt-5 pt-5 d-flex flex-column flex-lg-row justify-content-evenly">
    <!-- heading -->
    <div class="text-center text-lg-start mt-0 pt-0 mt-lg-5 pt-lg-5">
        <i class="fa-brands fa-earlybirds text-success" style="font-size: 3rem"></i>
        <h1 class="text-success fw-bold fs-0">Owl</h1>
        <p class="w-90 mx-auto fs-4 mx-lg-0">Welcome to the world's best book club</p>
    </div>
    <!-- form card -->
    <div style="max-width: 28rem; width: 100%">
        <!-- login form -->
        <!-- first was form tag -->
        <div class="bg-light shadow rounded p-4 input-group-lg">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {% if data %}
                <div class="alert alert-danger">{{ data.msg }}</div>
                {% endif %}

                <input id="email" name="email" type="email" class="form-control my-1 " placeholder="Email" required/>
                <input id="password" name="password" type="password" class="form-control my-3 " placeholder="Password"
                       required/>
                <button type="submit" class="btn btn-success w-100 my-3">Log In</button>
                <!--          <a href="#" class="text-secondary text-center"><p>Forgotten password?</p></a>-->
                <!-- create form -->
            </form>
            <hr/>
            <div class="text-center my-4">
                <button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal"
                        data-bs-target="#createModal">Sign Up
                </button>
            </div>
            <!-- create modal (pop-up for Sign-up) -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <!-- head -->
                        <div class="modal-header">
                            <div>
                                <h2 class="modal-title" id="exampleModalLabel">Sign Up</h2>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- body -->
                        <div class="modal-body">
                            <div class="alert alert-danger" id="error_msg" style="display: none"></div>
                            <form id="regform" method="POST" action="{% url 'RegisterUser' %}">
                                {% csrf_token %}

                                <!-- names -->
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First name"
                                               name="firstname" required/>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Surname" name="lastname"
                                               required/>
                                    </div>
                                </div>
                                <!-- email, username, password & age -->
                                <input type="text" class="form-control my-3" placeholder="Username" name="username"
                                       required/>
                                <input type="email" class="form-control my-3" placeholder="Email address" name="email"
                                       required/>
                                <input type="password" class="bg-light form-control my-3" placeholder="Enter Password"
                                       id="reg_password" name="password" required/>
                                <div>
                                    <span class="text-muted fs-7">Password must contain uppercase and lowercase letters.</span>
                                </div>
                                <input type="password" class="bg-light form-control my-3" placeholder="Confirm Password"
                                       id="reg_repassword" required/>

                                <input type="number" class="form-control my-3 w-50" placeholder="Age" name="age" min="0"
                                       required/>
                                <!-- gender -->
                                <div class="row my-3">
                                    <span class="text-muted fs-6">Gender <i class=data-bs-toggle="popover"></i></span>
                                    <div class="col">
                                        <div class="border rounded p-1">
                                            <label class="form-check-label" for="flexRadioDefault1">Male </label>
                                            <input class="form-check-input" type="radio" name="sex" value="male"
                                                   id="flexRadioDefault1" required/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border rounded p-1">
                                            <label class="form-check-label" for="flexRadioDefault1">Female </label>
                                            <input class="form-check-input" type="radio" name="sex" value="female"
                                                   id="flexRadioDefault2" required/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="border rounded p-1">
                                            <label class="form-check-label" for="flexRadioDefault1">Other </label>
                                            <input class="form-check-input" type="radio" name="sex" value="other"
                                                   id="flexRadioDefault3" required/>
                                        </div>
                                    </div>
                                </div>
                                <!-- disclaimer -->
                                <div>
                                    <span class="text-muted fs-7">By Signing Up with Owl, I agree with Terms and Data Policy of Owl.</span>
                                </div>
                                <!-- btn -->
                                <div class="text-center mt-3">
                                    <!--                      <button type="submit" class="btn btn-success btn-lg" data-bs-dismiss="modal" id="regsub">Sign Up</button>-->
                                    <button type="submit" class="btn btn-success btn-lg" id="regsub">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<!--    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.12.4.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
    <script>
        setInterval(function(){ $(".alert").fadeOut(); }, 3000);
    </script>
</body>
</html>
