{% extends 'base.html' %}
{% load static %}
{% block buttons %}{% endblock %}
{% block content %}
<div class="col-12 col-lg-10 pb-6">
<div class=" d-flex flex-column justify-content-centre w-100 mx-auto"
     style="padding-top: 56px; max-width: 680px">
    {% if club_data == 1 %}
    <div id="club_iew">
        <h1 class="display-4" style="font-family: 'Roboto', sans-serif; font-size: 4rem; font-weight: bold; color: #030000; text-shadow: 0 0 10px rgba(0,0,0,0.2); background-color:#F5F5F5; padding: 20px; border-radius: 10px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">My Club</h1>
        <div class="card mb-3">
            <img class="card-img-top" src="/media/{{club_data_value.club_picture}}" alt="Card image cap"
                 style="height: 300px; object-fit: cover">
            <div class="card-body">
                <h5 class="card-title">{{club_data_value.club_name}}</h5>
                <p class="card-text">{{club_data_value.club_description}}</p>
                <p class="card-text"><small class="text-muted">{{club_data_value.create_at}}</small></p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success" id="update_club_t">Update Club</button>
            <a type="button" class="btn btn-danger" href="{% url 'delete_clubs' %}"> Delete Club</a>
        </div>
    </div>
    <div class="card p-3" id="update_club" style="display:none;">
        <div class="card-body">
            <div class="e-profile">
                <div class="row">
                    <h1> Update Club </h1>
                    <form class="form" method="POST" enctype="multipart/form-data">
                        <div class="mt-2">
                            <input type="file" name="club_picture" id="upload-photo"/>
                        </div>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Club Name</label>
                                                <input class="form-control" type="text"
                                                       value="{{club_data_value.club_name}}" name="club_name" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Club Location / Club Address</label>
                                                <input class="form-control" type="text"
                                                       value="{{club_data_value.club_location}}" name="club_location"
                                                       required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>Club Description</label>
                                                <textarea class="form-control" rows="5" name="club_description"
                                                          placeholder="Add description">{{club_data_value.club_description}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                   name="restriction">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                18+ Club
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex;justify-content: space-evenly;">
                                    <div>
                                        <button type="button" class="btn btn-primary" id="cancel_view">Cancel</button>
                                    </div>
                                    <div>
                                        <button class="btn btn-success" type="submit">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% else %}
    <div class="card p-3">
        <div class="card-body">
            <div class="e-profile">
                <div class="row">
                    <h1> Create Club</h1>
                    <form class="form" method="POST" enctype="multipart/form-data">
                        <div class="mt-2">
                            <input type="file" name="club_picture" required/>
                        </div>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="row">

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Club Name</label>
                                                <input class="form-control" type="text" name="club_name" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Club Location / Club Address</label>
                                                <input class="form-control" type="text" name="club_location" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>Club Description</label>
                                                <textarea class="form-control" rows="5" name="club_description"
                                                          placeholder="Add description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                   name="restriction"
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                18+ Club
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

    <div class=" d-flex flex-column justify-content-centre w-100 mx-auto" style="padding-top: 56px; max-width: 680px">
        <h1>Club Posts</h1>
                {% for post in post_data %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            {% if post.post_author.userprofile.picture != 'default.jpg' %}
                            <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            {% if user_profile_data.sex == 'male' %}
                            <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            <img src="{% static 'img/userpictures/default_women.png' %}"
                                 alt="avatar" class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% endif %}
                            {% endif %}
                            <div>
                                <p class="m-0 fw-bold"><a href="{% url 'profile' profile_id=post.post_author.id %}">{{post.post_author}}</a></p>
                                <span class="text-muted fs-7">{{post.date_posted}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3 mt-2">
                        {% if post.imgcontent %}
                        <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"
                             style="height: 300px; object-fit: cover">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{post.post_title}}</h3>
                            <p>{{post.txtcontent}}</p>
                        </div>
                    </div>
                    <!-- comment & like bar -->
                    <div class="d-flex {{post.likes_count}}" id="counter-{{post.id}}">
                        <p id="counter-{{post.id}}-likes">{{post.likes_count}} Likes </p>
                        <p>&nbsp; &nbsp; </p>
                        <p id="counter-{{post.id}}-comments">{{post.comments_count}} Comments</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        {% if post.self_liked == 0 %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1" id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-1" id="post-{{post.id}}">Like</p>
                        </div>
                        {% else %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 liked" id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-0" id="post-{{post.id}}">Like</p>
                        </div>
                        {% endif %}
                        <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"
                             aria-controls="collapsePost1">
                            <i class="fas fa-comment-alt me-3"></i>
                            <p class="m-0">Comment</p>
                        </div>
                    </div>
                    <!-- comment expand -->
                    <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <hr/>
                        <div class="accordion-body">
                            <!-- comment 1 -->
                            {% for i in post.comments_data %}
                            <div class="d-flex align-items-center my-1">
                                {% if i.name.userprofile.picture != 'default.jpg' %}
                                <img src="/media/{{i.name.userprofile.picture}}" alt="avatar"
                                     class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  "/>
                                {% else %}
                                {% if user_profile_data.sex == 'male' %}
                                <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                     class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% else %}
                                <img src="{% static 'img/userpictures/default_women.png' %}"
                                     alt="avatar" class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% endif %}
                                {% endif %}

                                <div class="p-3 rounded comment__input w-100">
                                    <p class="fw-bold m-0">{{i.name.username}}</p>
                                    <p class="fs-6 bg-gray mb-1 rounded">
                                        {{i.body}}
                                    </p>
                                    <p class="m-0 fs-7 bg-gray p-2 rounded">
                                        {{i.date_added}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- create comment -->
                            <form class="d-flex my-1" method="POST" action="{% url 'addComment' %}">
                                <!-- avatar -->
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id" />
                                <div>
                                    {% if user_profile_data.picture != 'default.jpg' %}
                                    <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    {% if user_profile_data.sex == 'male' %}
                                    <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    <img src="{% static 'img/userpictures/default_women.png' %}"
                                         alt="avatar" class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- input -->
                                <input type="text" class="form-control border-1 rounded-pill bg-gray"
                                       placeholder="Write a comment" name="comment_body" required/>
                                <button class="btn btn-info rounded-circle">comment</button>
                            </form>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor %}
    </div>
</div>




<script>
$(document).ready(function(){
  $("#cancel_view").click(function(){
    $("#update_club").toggle();
    $("#club_iew").toggle();
  });
  $("#update_club_t").click(function(){
    $("#update_club").toggle();
    $("#club_iew").toggle();
  });
});



</script>

{% endblock %}