{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-12 col-lg-10 pb-6">

    <div class=" d-flex flex-column justify-content-centre w-100 mx-auto"
         style="padding-top: 56px; max-width: 680px">
        <div class="bg-white p-3 mt-3 rounded border shadow">

            <div class="multi-collapse show collapse-test" id="multiCollapseExample1">
                {% for post in post_data %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            {% if post.post_author.userprofile.picture != 'default.jpg' %}
                            <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            {% if user_profile_data.sex == 'male' %}
                            <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            <img src="{% static 'img/userpictures/default_women.png' %}"
                                 alt="avatar" class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% endif %}
                            {% endif %}
                            <div>
                                <p class="m-0 fw-bold"><a href="{% url 'profile' profile_id=post.post_author.id %}">{{post.post_author}}</a>  > <span><a href="{% url 'club_detail_post' club_id=post.club.id %}"> {{post.club.club_name}}</a></span></p>
                                <span class="text-muted fs-7">{{post.date_posted}}</span>
                            </div>
                        </div>
                        <!--                        edit-->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                           aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="dropdown-item d-flex justify-content-around align-items-center fs-7" href="{% url 'deletePost' post_id=post.id %}">Delete
                                    Post</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card mb-3 mt-2">
                        {% if post.imgcontent %}
                        <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"
                             style="height: 300px; object-fit: cover">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{post.post_title}}</h3>
                            <p>{{post.txtcontent}}</p>
                        </div>
                    </div>
                    <!-- comment & like bar -->
                    <div class="d-flex {{post.likes_count}}" id="counter-{{post.id}}">
                        <p id="counter-{{post.id}}-likes">{{post.likes_count}} Likes </p>
                        <p>&nbsp; &nbsp; </p>
                        <p id="counter-{{post.id}}-comments">{{post.comments_count}} Comments</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        {% if post.self_liked == 0 %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-1" id="post-{{post.id}}">Like</p>
                        </div>
                        {% else %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 liked"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-0" id="post-{{post.id}}">Like</p>
                        </div>
                        {% endif %}
                        <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"
                             aria-controls="collapsePost1">
                            <i class="fas fa-comment-alt me-3"></i>
                            <p class="m-0">Comment</p>
                        </div>
                    </div>
                    <!-- comment expand -->
                    <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <hr/>
                        <div class="accordion-body">
                            <!-- comment 1 -->
                            {% for i in post.comments_data %}
                            <div class="d-flex align-items-center my-1">
                                {% if i.name.userprofile.picture != 'default.jpg' %}
                                <img src="/media/{{i.name.userprofile.picture}}" alt="avatar"
                                     class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  "/>
                                {% else %}
                                {% if user_profile_data.sex == 'male' %}
                                <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                     class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% else %}
                                <img src="{% static 'img/userpictures/default_women.png' %}"
                                     alt="avatar" class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% endif %}
                                {% endif %}

                                <!-- comment text -->
                                <div class="p-3 rounded comment__input w-100">
                                    <p class="fw-bold m-0">{{i.name.username}}</p>
                                    <p class="fs-6 bg-gray mb-1 rounded">
                                        {{i.body}}
                                    </p>
                                    <p class="m-0 fs-7 bg-gray p-2 rounded">
                                        {{i.date_added}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- create comment -->
                            <form class="d-flex my-1" method="POST" action="{% url 'addComment' %}">
                                <!-- avatar -->
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id"/>
                                <div>
                                    {% if user_profile_data.picture != 'default.jpg' %}
                                    <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    {% if user_profile_data.sex == 'male' %}
                                    <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    <img src="{% static 'img/userpictures/default_women.png' %}"
                                         alt="avatar" class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- input -->
                                <input type="text" class="form-control border-1 rounded-pill bg-gray"
                                       placeholder="Write a comment" name="comment_body" required/>
                                <button class="btn btn-info rounded-circle">comment</button>
                            </form>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- Best POST Data-->
            <div class="collapse multi-collapse collapse-test" id="multiCollapseExample2">
                {% for post in best_post_data %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            {% if post.post_author.userprofile.picture != 'default.jpg' %}
                            <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            {% if user_profile_data.sex == 'male' %}
                            <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            <img src="{% static 'img/userpictures/default_women.png' %}"
                                 alt="avatar" class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% endif %}
                            {% endif %}
                            <div>
                                <p class="m-0 fw-bold"><a href="{% url 'profile' profile_id=post.post_author.id %}">{{post.post_author}}</a>  > <span><a href="{% url 'club_detail_post' club_id=post.club.id %}"> {{post.club.club_name}}</a></span></p>
                                <span class="text-muted fs-7">{{post.date_posted}}</span>
                            </div>
                        </div>
                        <!--                        edit-->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                           aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="dropdown-item d-flex justify-content-around align-items-center fs-7" href="{% url 'deletePost' post_id=post.id %}">Delete
                                    Post</a>
                            </li>
                        </ul>

                    </div>

                    <div class="card mb-3 mt-2">
                        {% if post.imgcontent %}
                        <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"
                             style="height: 300px; object-fit: cover">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{post.post_title}}</h3>
                            <p>{{post.txtcontent}}</p>
                        </div>
                    </div>
                    <!-- comment & like bar -->
                    <div class="d-flex {{post.likes_count}}" id="counter-{{post.id}}">
                        <p id="counter-{{post.id}}-likes">{{post.likes_count}} Likes </p>
                        <p>&nbsp; &nbsp; </p>
                        <p id="counter-{{post.id}}-comments">{{post.comments_count}} Comments</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        {% if post.self_liked == 0 %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-1" id="post-{{post.id}}">Like</p>
                        </div>
                        {% else %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 liked"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-0" id="post-{{post.id}}">Like</p>
                        </div>
                        {% endif %}
                        <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"
                             aria-controls="collapsePost1">
                            <i class="fas fa-comment-alt me-3"></i>
                            <p class="m-0">Comment</p>
                        </div>
                    </div>
                    <!-- comment expand -->
                    <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <hr/>
                        <div class="accordion-body">
                            <!-- comment 1 -->
                            {% for i in post.comments_data %}
                            <div class="d-flex align-items-center my-1">
                                {% if i.name.userprofile.picture != 'default.jpg' %}
                                <img src="/media/{{i.name.userprofile.picture}}" alt="avatar"
                                     class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  "/>
                                {% else %}
                                {% if user_profile_data.sex == 'male' %}
                                <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                     class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% else %}
                                <img src="{% static 'img/userpictures/default_women.png' %}"
                                     alt="avatar" class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% endif %}
                                {% endif %}

                                <div class="p-3 rounded comment__input w-100">
                                    <p class="fw-bold m-0">{{i.name.username}}</p>
                                    <p class="fs-6 bg-gray mb-1 rounded">
                                        {{i.body}}
                                    </p>
                                    <p class="m-0 fs-7 bg-gray p-2 rounded">
                                        {{i.date_added}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- create comment -->
                            <form class="d-flex my-1" method="POST" action="{% url 'addComment' %}">
                                <!-- avatar -->
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id"/>
                                <div>
                                    {% if user_profile_data.picture != 'default.jpg' %}
                                    <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    {% if user_profile_data.sex == 'male' %}
                                    <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    <img src="{% static 'img/userpictures/default_women.png' %}"
                                         alt="avatar" class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- input -->
                                <input type="text" class="form-control border-1 rounded-pill bg-gray"
                                       placeholder="Write a comment" name="comment_body" required/>
                                <button class="btn btn-info rounded-circle">comment</button>
                            </form>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- Hottest POST Data-->
            <div class="collapse multi-collapse collapse-test" id="multiCollapseExample3">
                {% for post in hottest_post_data %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            {% if post.post_author.userprofile.picture != 'default.jpg' %}
                            <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            {% if user_profile_data.sex == 'male' %}
                            <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            <img src="{% static 'img/userpictures/default_women.png' %}"
                                 alt="avatar" class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% endif %}
                            {% endif %}
                            <div>
                                <p class="m-0 fw-bold"><a href="{% url 'profile' profile_id=post.post_author.id %}">{{post.post_author}}</a>  > <span><a href="{% url 'club_detail_post' club_id=post.club.id %}"> {{post.club.club_name}}</a></span></p>
                                <span class="text-muted fs-7">{{post.date_posted}}</span>
                            </div>
                        </div>
                        <!--                        edit-->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                           aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="dropdown-item d-flex justify-content-around align-items-center fs-7" href="{% url 'deletePost' post_id=post.id %}">Delete
                                    Post</a>
                            </li>
                        </ul>

                    </div>

                    <div class="card mb-3 mt-2">
                        {% if post.imgcontent %}
                        <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"
                             style="height: 300px; object-fit: cover">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{post.post_title}}</h3>
                            <p>{{post.txtcontent}}</p>
                        </div>
                    </div>
                    <!-- comment & like bar -->
                    <div class="d-flex {{post.likes_count}}" id="counter-{{post.id}}">
                        <p id="counter-{{post.id}}-likes">{{post.likes_count}} Likes </p>
                        <p>&nbsp; &nbsp; </p>
                        <p id="counter-{{post.id}}-comments">{{post.comments_count}} Comments</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        {% if post.self_liked == 0 %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-1" id="post-{{post.id}}">Like</p>
                        </div>
                        {% else %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 liked"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-0" id="post-{{post.id}}">Like</p>
                        </div>
                        {% endif %}
                        <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"
                             aria-controls="collapsePost1">
                            <i class="fas fa-comment-alt me-3"></i>
                            <p class="m-0">Comment</p>
                        </div>
                    </div>
                    <!-- comment expand -->
                    <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <hr/>
                        <div class="accordion-body">
                            <!-- comment 1 -->
                            {% for i in post.comments_data %}
                            <div class="d-flex align-items-center my-1">
                                {% if i.name.userprofile.picture != 'default.jpg' %}
                                <img src="/media/{{i.name.userprofile.picture}}" alt="avatar"
                                     class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  "/>
                                {% else %}
                                {% if user_profile_data.sex == 'male' %}
                                <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                     class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% else %}
                                <img src="{% static 'img/userpictures/default_women.png' %}"
                                     alt="avatar" class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% endif %}
                                {% endif %}

                                <div class="p-3 rounded comment__input w-100">
                                    <p class="fw-bold m-0">{{i.name.username}}</p>
                                    <p class="fs-6 bg-gray mb-1 rounded">
                                        {{i.body}}
                                    </p>
                                    <p class="m-0 fs-7 bg-gray p-2 rounded">
                                        {{i.date_added}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- create comment -->
                            <form class="d-flex my-1" method="POST" action="{% url 'addComment' %}">
                                <!-- avatar -->
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id"/>
                                <div>
                                    {% if user_profile_data.picture != 'default.jpg' %}
                                    <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    {% if user_profile_data.sex == 'male' %}
                                    <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    <img src="{% static 'img/userpictures/default_women.png' %}"
                                         alt="avatar" class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- input -->
                                <input type="text" class="form-control border-1 rounded-pill bg-gray"
                                       placeholder="Write a comment" name="comment_body" required/>
                                <button class="btn btn-info rounded-circle">comment</button>
                            </form>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!-- Trending POST Data-->
            <div class="collapse multi-collapse collapse-test" id="multiCollapseExample4">
                {% for post in trending_post_data %}
                <div class="bg-white p-4 rounded shadow mt-3">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            {% if post.post_author.userprofile.picture != 'default.jpg' %}
                            <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            {% if user_profile_data.sex == 'male' %}
                            <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                 class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% else %}
                            <img src="{% static 'img/userpictures/default_women.png' %}"
                                 alt="avatar" class="rounded-circle me-2"
                                 style="width: 38px; height: 38px; object-fit: cover"/>
                            {% endif %}
                            {% endif %}
                            <div>
                                <p class="m-0 fw-bold"><a href="{% url 'profile' profile_id=post.post_author.id %}">{{post.post_author}}</a>  > <span><a href="{% url 'club_detail_post' club_id=post.club.id %}"> {{post.club.club_name}}</a></span></p>
                                <span class="text-muted fs-7">{{post.date_posted}}</span>
                            </div>
                        </div>
                        <!--                        edit-->
                        <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"
                           aria-expanded="false"></i>
                        <!-- edit menu -->
                        <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">
                            <li class="d-flex align-items-center">
                                <a class="dropdown-item d-flex justify-content-around align-items-center fs-7" href="{% url 'deletePost' post_id=post.id %}">Delete
                                    Post</a>
                            </li>
                        </ul>

                    </div>

                    <div class="card mb-3 mt-2">
                        {% if post.imgcontent %}
                        <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"
                             style="height: 300px; object-fit: cover">
                        {% endif %}
                        <div class="card-body">
                            <h3>{{post.post_title}}</h3>
                            <p>{{post.txtcontent}}</p>
                        </div>
                    </div>
                    <!-- comment & like bar -->
                    <div class="d-flex {{post.likes_count}}" id="counter-{{post.id}}">
                        <p id="counter-{{post.id}}-likes">{{post.likes_count}} Likes </p>
                        <p>&nbsp; &nbsp; </p>
                        <p id="counter-{{post.id}}-comments">{{post.comments_count}} Comments</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        {% if post.self_liked == 0 %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-1" id="post-{{post.id}}">Like</p>
                        </div>
                        {% else %}
                        <div class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 liked"
                             id="dyno-like-{{post.id}}">
                            <i class="fas fa-thumbs-up me-3"></i>
                            <p class="m-0 like {{post.id}}-0" id="post-{{post.id}}">Like</p>
                        </div>
                        {% endif %}
                        <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
                             data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"
                             aria-controls="collapsePost1">
                            <i class="fas fa-comment-alt me-3"></i>
                            <p class="m-0">Comment</p>
                        </div>
                    </div>
                    <!-- comment expand -->
                    <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <hr/>
                        <div class="accordion-body">
                            <!-- comment 1 -->
                            {% for i in post.comments_data %}
                            <div class="d-flex align-items-center my-1">
                                {% if i.name.userprofile.picture != 'default.jpg' %}
                                <img src="/media/{{i.name.userprofile.picture}}" alt="avatar"
                                     class="rounded-circle me-2" style="
                                    width: 38px;
                                    height: 38px;
                                    object-fit: cover;
                                  "/>
                                {% else %}
                                {% if user_profile_data.sex == 'male' %}
                                <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                     class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% else %}
                                <img src="{% static 'img/userpictures/default_women.png' %}"
                                     alt="avatar" class="rounded-circle me-2"
                                     style="width: 38px; height: 38px; object-fit: cover"/>
                                {% endif %}
                                {% endif %}

                                <div class="p-3 rounded comment__input w-100">
                                    <p class="fw-bold m-0">{{i.name.username}}</p>
                                    <p class="fs-6 bg-gray mb-1 rounded">
                                        {{i.body}}
                                    </p>
                                    <p class="m-0 fs-7 bg-gray p-2 rounded">
                                        {{i.date_added}}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- create comment -->
                            <form class="d-flex my-1" method="POST" action="{% url 'addComment' %}">
                                <!-- avatar -->
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id"/>
                                <div>
                                    {% if user_profile_data.picture != 'default.jpg' %}
                                    <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    {% if user_profile_data.sex == 'male' %}
                                    <img src="{% static 'img/userpictures/default_men.png' %}" alt="avatar"
                                         class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% else %}
                                    <img src="{% static 'img/userpictures/default_women.png' %}"
                                         alt="avatar" class="rounded-circle me-2"
                                         style="width: 38px; height: 38px; object-fit: cover"/>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <!-- input -->
                                <input type="text" class="form-control border-1 rounded-pill bg-gray"
                                       placeholder="Write a comment" name="comment_body" required/>
                                <button class="btn btn-info rounded-circle">comment</button>
                            </form>
                            <!-- end -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--            {% for post in post_data %}-->
            <!--            <div class="bg-white p-4 rounded shadow mt-3">-->
            <!--                &lt;!&ndash; author &ndash;&gt;-->
            <!--                <div class="d-flex justify-content-between">-->
            <!--                    &lt;!&ndash; avatar &ndash;&gt;-->
            <!--                    <div class="d-flex">-->
            <!--                        <img src="/media/{{post.post_author.userprofile.picture}}" alt="avatar"-->
            <!--                             class="rounded-circle me-2"-->
            <!--                             style="width: 38px; height: 38px; object-fit: cover"/>-->
            <!--                        <div>-->
            <!--                            <p class="m-0 fw-bold">{{post.post_author}}</p>-->
            <!--                            <span class="text-muted fs-7">{{post.date_posted}}</span>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    &lt;!&ndash; edit &ndash;&gt;-->
            <!--                    <i class="fas fa-ellipsis-h" type="button" id="post1Menu" data-bs-toggle="dropdown"-->
            <!--                       aria-expanded="false"></i>-->
            <!--                    &lt;!&ndash; edit menu &ndash;&gt;-->
            <!--                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1Menu">-->
            <!--                        <li class="d-flex align-items-center">-->
            <!--                            <a class=" dropdown-item d-flex justify-content-around align-items-center fs-7" href="#">Edit-->
            <!--                                Post</a>-->
            <!--                        </li>-->
            <!--                        <li class="d-flex align-items-center">-->
            <!--                            <a class="dropdown-item d-flex justify-content-around align-items-center fs-7" href="#">Delete-->
            <!--                                Post</a>-->
            <!--                        </li>-->
            <!--                    </ul>-->
            <!--                </div>-->

            <!--                <div class="card mb-3 mt-2">-->
            <!--                    {% if post.imgcontent %}-->
            <!--                    <img class="card-img-top" src="/media/{{post.imgcontent}}" alt="Card image cap"-->
            <!--                         style="height: 300px; object-fit: cover">-->
            <!--                    {% endif %}-->
            <!--                    <div class="card-body">-->
            <!--                        <h3>{{post.post_title}}</h3>-->
            <!--                        <p>{{post.txtcontent}}</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                &lt;!&ndash; comment & like bar &ndash;&gt;-->
            <!--                <div class="d-flex justify-content-around">-->
            <!--                    <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1">-->
            <!--                        <i class="fas fa-thumbs-up me-3"></i>-->
            <!--                        <p class="m-0">Like</p>-->
            <!--                    </div>-->
            <!--                    <div class=" dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"-->
            <!--                         data-bs-toggle="collapse" data-bs-target="#collapsePost1" aria-expanded="false"-->
            <!--                         aria-controls="collapsePost1">-->
            <!--                        <i class="fas fa-comment-alt me-3"></i>-->
            <!--                        <p class="m-0">Comment</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                &lt;!&ndash; comment expand &ndash;&gt;-->
            <!--                <div id="collapsePost1" class="accordion-collapse collapse" aria-labelledby="headingTwo"-->
            <!--                     data-bs-parent="#accordionExample">-->
            <!--                    <hr/>-->
            <!--                    <div class="accordion-body">-->
            <!--                        &lt;!&ndash; comment 1 &ndash;&gt;-->
            <!--                        <div class="d-flex align-items-center my-1">-->
            <!--                            &lt;!&ndash; avatar &ndash;&gt;-->
            <!--                            <img src="https://source.unsplash.com/collection/happy-people" alt="avatar"-->
            <!--                                 class="rounded-circle me-2" style="-->
            <!--                                width: 38px;-->
            <!--                                height: 38px;-->
            <!--                                object-fit: cover;-->
            <!--                              "/>-->
            <!--                            &lt;!&ndash; comment text &ndash;&gt;-->
            <!--                            <div class="p-3 rounded comment__input w-100">-->
            <!--                                &lt;!&ndash; comment menu of author &ndash;&gt;-->
            <!--                                <div class="d-flex justify-content-end">-->
            <!--                                    &lt;!&ndash; icon &ndash;&gt;-->
            <!--                                    <i class="fas fa-ellipsis-h text-blue pointer" id="post1CommentMenuButton"-->
            <!--                                       data-bs-toggle="dropdown" aria-expanded="false"></i>-->
            <!--                                    &lt;!&ndash; menu &ndash;&gt;-->
            <!--                                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="post1CommentMenuButton">-->
            <!--                                        <li class="d-flex align-items-center">-->
            <!--                                            <a class=" dropdown-item d-flex justify-content-around align-items-center fs-7"-->
            <!--                                               href="#">Edit Comment</a>-->
            <!--                                        </li>-->
            <!--                                        <li class="d-flex align-items-center">-->
            <!--                                            <a class=" dropdown-item d-flex justify-content-around align-items-center fs-7"-->
            <!--                                               href="#">Delete Comment</a>-->
            <!--                                        </li>-->
            <!--                                    </ul>-->
            <!--                                </div>-->
            <!--                                <p class="fw-bold m-0">Stephen.H</p>-->
            <!--                                <p class="m-0 fs-7 bg-gray p-2 rounded">-->
            <!--                                    LOL-->
            <!--                                </p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        &lt;!&ndash; comment 2 &ndash;&gt;-->
            <!--                        <div class="d-flex align-items-center my-1">-->
            <!--                            &lt;!&ndash; avatar &ndash;&gt;-->
            <!--                            <img src="https://source.unsplash.com/random/2" alt="avatar" class="rounded-circle me-2"-->
            <!--                                 style="-->
            <!--                                width: 38px;-->
            <!--                                height: 38px;-->
            <!--                                object-fit: cover;-->
            <!--                              "/>-->
            <!--                            &lt;!&ndash; comment text &ndash;&gt;-->
            <!--                            <div class="p-3 rounded comment__input w-100">-->
            <!--                                <p class="fw-bold m-0">Jerry</p>-->
            <!--                                <p class="m-0 fs-7 bg-gray p-2 rounded">-->
            <!--                                    Will definitly read again-->
            <!--                                </p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        &lt;!&ndash; create comment &ndash;&gt;-->
            <!--                        <form class="d-flex my-1">-->
            <!--                            &lt;!&ndash; avatar &ndash;&gt;-->
            <!--                            <div>-->
            <!--                                <img src="https://source.unsplash.com/collection/happy-people" alt="avatar"-->
            <!--                                     class="rounded-circle me-2"-->
            <!--                                     style=" width: 38px; height: 38px; object-fit: cover;"/>-->
            <!--                            </div>-->
            <!--                            &lt;!&ndash; input &ndash;&gt;-->
            <!--                            <input type="text" class="form-control border-0 rounded-pill bg-gray"-->
            <!--                                   placeholder="Write a comment"/>-->
            <!--                        </form>-->
            <!--                        &lt;!&ndash; end &ndash;&gt;-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            {% endfor %}-->

        </div>
    </div>
</div>
{% endblock %}
