{% extends 'base.html' %}
{% block buttons %}{% endblock %}
{% load static %}
{% block content %}
<!--===================== Profile ========================-->
<div class=" d-flex flex-column justify-content-centre w-100 mx-auto" style="padding-top: 56px; max-width: 680px">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger fade show" role="alert">
        {{message}}
    </div>

    {% else %}
    <div class="alert alert-success fade show" role="alert">
        {{message}}
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}

    {% if user.id == profile_id %}
    <div class="card p-3">
        <div class="card-body">
            <div class="e-profile">
                <div class="row">
                    <form class="form" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 col-sm-auto mb-3">
                                <div class="mx-auto" style="width: 140px;">
                                    <div class="d-flex justify-content-center align-items-center rounded">
                                        <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;"></span>
                                        {% if user_profile_data.picture != 'default.jpg' %}
                                        <img src="/media/{{user_profile_data.picture}}" alt="avatar"
                                             class=""
                                             style="width: 140px; height: 140px; object-fit: cover"/>
                                        {% else %}
                                        {% if user_profile_data.sex == 'male' %}
                                        <img src="{% static 'img/userpictures/default_men.png' %}"
                                             style="width: 140px; height: 140px; object-fit: cover"/>
                                        {% else %}
                                        <img src="{% static 'img/userpictures/default_women.png' %}"
                                             style="width: 140px; height: 140px; object-fit: cover"/>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="mt-2">
                                        <input type="file" name="ProfilePhoto" id="upload-photo"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                <div class="text-sm-left mb-2 mb-sm-0">
                                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user_profile_data.first_name}}
                                        {{user_profile_data.last_name}} </h4>
                                    <p class="mb-0">@{{user.username}}</p>
                                    <div class="mt-2">
                                        <!--                                <button class="btn btn-success" type="button">-->
                                        <!--                                    <i class="fa fa-fw fa-camera"></i>-->
                                        <!--                                    <span>Change Photo</span>-->
                                        <!--                                </button>-->
                                    </div>
                                </div>
                                <!--                        <div class="text-center text-sm-right">-->
                                <!--                            <div class="text-muted"><small>Joined 26 Feb 2023</small></div>-->
                                <!--                        </div>-->
                            </div>
                        </div>

                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>First name</label>
                                            <input class="form-control" type="text" name="firstname"
                                                   value="{{user_profile_data.first_name}}" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Last name</label>
                                            <input class="form-control" type="text" name="lastname"
                                                   value="{{user_profile_data.last_name}}" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input class="form-control" type="text" name="username"
                                                       placeholder="" value="{{user.username}}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input class="form-control" type="text" name="email"
                                                       placeholder="user@example.com" value="{{user.email}}"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <div class="form-group">
                                                <label>Bio</label>
                                                <textarea class="form-control" rows="5" name="bio"
                                                          placeholder="My Bio" maxlength="100">{{user_profile_data.bio}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-success" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-content pt-3">
                    <div class="tab-pane active">
                        <form method="POST" action="{% url 'UpdatePassword' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <div class="mb-2"><b>Change Password</b></div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Current Password</label>
                                                <input class="form-control" name="CurrentPassword" type="password"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input class="form-control" name="NewPassword" type="password" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label>Confirm <span
                                                        class="d-none d-xl-inline">Password</span></label>
                                                <input class="form-control" name="ConfirmPassword" type="password"
                                                       required></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-success" type="submit">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <section style="background-color: #9de2ff;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <div class="flex-shrink-0">
<!--                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"-->
<!--                                         alt="Generic placeholder image" class="img-fluid"-->
<!--                                         style="width: 180px; border-radius: 10px;">-->
                                        {% if user_static_profile_data.picture != 'default.jpg' %}
                                        <img src="/media/{{user_static_profile_data.picture}}" alt="avatar"
                                             class="img-fluid"
                                             style="width: 140px; height: 140px; object-fit: cover; border-radius: 10px;"/>
                                        {% else %}
                                        {% if user_static_profile_data.sex == 'male' %}
                                        <img src="{% static 'img/userpictures/default_men.png' %}"
                                             style="width: 140px; height: 140px; object-fit: cover"/>
                                        {% else %}
                                        <img src="{% static 'img/userpictures/default_women.png' %}"
                                             style="width: 140px; height: 140px; object-fit: cover"/>
                                        {% endif %}
                                        {% endif %}
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="mb-1">@{{user_static_profile_data.user.username}}</h5>
                                    <p class="mb-2 pb-1" style="color: #2b2a2a;">{{user_static_profile_data.first_name}} - {{user_static_profile_data.last_name}}</p>
                                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                         style="background-color: #efefef;">
                                        <div>
                                            <p class="small text-muted mb-1">Bio</p>
                                            <p class="mb-0">{{user_static_profile_data.bio}}</p>
                                        </div>
                                    </div>
                                    <div class="d-flex pt-1">
                                        <button type="button" class="btn btn-outline-primary me-1" disabled>{{user_static_profile_data.age}} Years
                                        </button>
                                        <button type="button" class="btn btn-primary" disabled>{{user_static_profile_data.sex}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

</div>
{% endblock %}