{% extends 'base.html' %}
{% load static %}
{% block buttons %}{% endblock %}
{% block content %}


  <div class="card p-3 " style="margin-left: 300px;margin-right:300px;margin-top: 50px ">
        <div class="card-body">
            <div class="e-profile">
 <h1> These are the three books the system recommends for you. </h1>

  <table  class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
            <tr>
                <th>isbn</th>
                <th>Book Title</th>
                <th>Authors</th>
                <th>Publication Date</th>
                <th>Publisher</th>
                <th>Image</th>
                <th>Genre</th>

            </tr>
            </thead>
            <tbody>
            {% for i in resultBook %}
                <tr>
                    <td>{{i.isbn}}</td>
                    <td>{{i.book_title}}</td>
                    <td>{{i.authors}}</td>
                    <td>{{i.publication_date}}</td>
                                        <td>{{i.publisher.pubisher_name}}</td>

                    <td> <a href="/media/{{i.image_url}}" target="_blank"> View Image </a></td>
                                    <td>{{i.genre}}</td>



                </tbody>
            {% endfor %}
        </table>

            </div>
        </div>
  </div>










</div>




<script>


function updatefun(obj){


}

$(document).ready(function(){



});



</script>

{% endblock %}